# droppings
foo*
*~

/.Xauthority
/.aptitude/
/.bash_history
/.cache/
/.config/
/.emacs.d/
/.lesshst
/.ssh/

/.yaws/
/vpnkeys/
/public*/
/.post-review-cookies.txt
/.kredinit*
/kredlive*
/foo.*

# erlang droppings
erl_crash.dump
.erlang.cookie
*.beam
*.etz
*.trz

# git projects
/git/

# rpm build dir
/rpm/
