/.localbashrc

# droppings
foo*
*~
\#*
.\#*

/.ICEauthority
/.Xauthority
/.aptitude/
/.bash_history
/.cache/
/.config/
/.dbus/
/.ddd/
/.emacs.d/
/.gconf/
/.gnupg/
/.irssi/default.theme
/.kde/
/.lastpass/
/.lesshst
/.local/
/.mozilla/
/.pki/
/.ssh/
/.subversion/
/.xscreensaver
/.xsession-errors

# erlang droppings
/.dialyzer_plt
/.erlang.cookie
erl_crash.dump

# git projects
/git/

# rpm build dir
/rpm*/

# historic
*kred*
