/.localbashrc

# droppings
foo*
*~
\#*
.\#*

/.Xauthority
/.aptitude/
/.bash_history
/.bash_logout
/.cache/
/.config/
/.dbus/
/.ddd/
/.emacs.d/
/.gconf/
/.gnupg/
/.irssi/default.theme
/.kde/
/.lastpass/
/.lesshst
/.local/
/.mozilla/
/.ssh/
/.subversion/
/.xscreensaver
/foo*
/Downloads/

# erlang droppings
erl_crash.dump
.erlang.cookie
*dialyzer_plt
*.beam
*.etz
*.trz
.rebar/

# git/subversion projects
/git/
/svn/

# rpm build dir
/rpm*/

# historic
*kred*
